# pandasでEDA(1)

[pandasのcheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)ベースで主要なmethodをおさらいしていく

In [30]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import os

## pandasでDataFrameを作成する

### Dictからpandasを作成する場合

In [31]:
some_dict = {
    "column_1" : [4, 5, 6],
    "column_2" : [7, 8, 9],
    "column_3" : [10, 11, 12],
}
df = pd.DataFrame(some_dict)
df

   column_1  column_2  column_3
0         4         7        10
1         5         8        11
2         6         9        12

In [35]:
### あらかじめ存在するデータ配列をDataFrame化する場合

In [36]:
loss = np.random.rand(10)
acc = np.random.rand(10)

df = pd.DataFrame({"loss": loss, "acc": acc})
df

       loss       acc
0  0.073732  0.946443
1  0.170734  0.077212
2  0.741274  0.735576
3  0.957842  0.500192
4  0.880651  0.319287
5  0.830130  0.956769
6  0.219526  0.116353
7  0.191831  0.729235
8  0.091964  0.632620
9  0.497911  0.462776

### 既存のデータシートをloadする場合
- pandasで対応しているフォーマットはさまざま
    - csv
    - excel
    - json
    - HTML
    - XML

In [37]:
df = pd.read_csv('../data/world-happiness/2015.csv')

In [38]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

## pandasでmethodをchainする
- DataFrameのmethod（renameやquery,headなど）はDataFrameを返すため、複数のmethodを組み合わせることが可能

In [47]:
df.query("Family <= 1").sort_values(by="Health (Life Expectancy)").head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
122,Sierra Leone,Sub-Saharan Africa,123,4.507,0.07068,0.33024,0.95571,0.00000,0.40840,0.08786,0.21488,2.51009
147,Central African Republic,Sub-Saharan Africa,148,3.678,0.06112,0.07850,0.00000,0.06699,0.48879,0.08289,0.23835,2.72230
148,Chad,Sub-Saharan Africa,149,3.667,0.03830,0.34193,0.76062,0.15010,0.23501,0.05269,0.18386,1.94296
150,Ivory Coast,Sub-Saharan Africa,151,3.655,0.05141,0.46534,0.77115,0.15185,0.46866,0.17922,0.20165,1.41723
77,Nigeria,Sub-Saharan Africa,78,5.268,0.04192,0.65435,0.90432,0.16007,0.34334,0.04030,0.27233,2.89319